@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    nav{
        flex-direction:column;
    }

    .project-grid{
        grid-template-columns:1fr;
    }

    .skills-grid{
        grid-template-columns:1fr;
    }

}
